# Xcode build output
build/
DerivedData/
*.o
*.d
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user-specific files
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Simulator
*.moved-aside

# Archives
*.xcarchive
